# ================
# IDEs and Editors
# ================

.vscode

# ==============
# Backend Folder
# ==============

backend/node_modules
backend/.pnp
backend/config.json
backend/.pnp.js
backend/coverage
backend/build
backend/.DS_Store
backend/config.json
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/package-lock.json

# ===============
# Frontend Folder
# ===============

frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/package-lock.json
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pids
frontend/*.pid
frontend/*.seed
frontend/*.pid.lock
frontend/lib-cov
frontend/coverage
frontend/.nyc_output
frontend/.grunt
frontend/bower_components
frontend/.lock-wscript
frontend/build/Release
frontend/node_modules/
frontend/jspm_packages/
frontend/typings/
frontend/.npm
frontend/.eslintcache
frontend/.node_repl_history
frontend/*.tgz
frontend/.yarn-integrity
frontend/.env
frontend/.next

# ==========
# API Folder
# ==========

api/.pio
api/.vscode/.browse.c_cpp.db*
api/.vscode/c_cpp_properties.json
api/.vscode/launch.json
api/.vscode/ipch
