
#thumbnailImg{
  display:flex;
  align-items: middle;
  justify-content: middle;
}
.row{
  display:flex;
  justify-content: center;
  align-items:center;
}
.col{
  justify-content: center;
  align-items:center;
}
.image{
  width: 50%;
  align-content: center;
}

.icons{
  width: 4%;
  display:flex;
}

#linkRow {
  height: 5%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap
}