#thumbnailImg {
  display: flex;
  align-items: middle;
  justify-content: middle;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  justify-content: center;
  align-items: center;
}

.image {
  width: 50%;
  align-content: center;
}

.icons {
  height: 42px;
  width: 42px;
}

.icons2 {
  height: 44px;
  width: 44px;
}


#linkRow {
  height: 5%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap
}